*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   ;
}
#menu{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:2rem;
}
.menu-meal{
    display: inline-block;
    padding:5px;
}
